{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
       <div class="features">
           <h1>{{ title }}</h1>
           <p>dfvbsdvsujhhfdbsfuhvwsbnhvnsdnvisdngvjisdmnsmdomsdjkbmvjsdmnbjsdmnbjsmdbmsdjbsjdbnjsdnbjsdb njsdbnjsd bnjsdbhvdfuhnvhusnbvhixnbisnbisdbnjisdnbijsdnbidsnbisdnibnsdibnsduibnuisdnuisdnbunujnuijsdnbuisdnuisdnuisdnbijsdbnjisdnbijsdnbisdnb</p>
           <buttton class='btn btn-warning'>{% filter upper %}На страницу про нас{% endfilter %}</buttton>


           {% for el in values %}
                {% if el == 'Hello' %}
                    <p>{{ el|upper }}</p>
                {% endif %}
           {% endfor %}

           {% for el in obj %}
                <p>{{ el }}</p>
           {% endfor%}
       </div>
{% endblock %}